
@media(max-width: 992px) {
	.wrapper {
		padding: 0;
	}
	.box {
		padding: 20px
	}
	.section_heading {
		margin-top: 25px;
	}
	.margin_top_30 {
		margin-top: 20px;
	}
	.margin_bottom_30 {
		margin-bottom: 20px;
	}
	.margin_top_20 {
		margin-top: 10px;
	}
	.margin_bottom_20 {
		margin-bottom: 10px;
	}
	.padding_top_30 {
		padding-top: 20px;
	}
	.padding_bottom_30 {
		padding-bottom: 20px;
	}
	.padding_top_20 {
		padding-top: 10px;
	}
	.padding_bottom_20 {
		padding-bottom: 10px;
	}
	.product_intro .regular_price {
		font-size: 12px;
	}
	.product_intro .discount {
		font-size: 12px;
	}
	.product_intro .product_stock {
	    font-size: 12px;
	}
	.product_intro .current_price {
	    font-size: 19px;
	}
	.brand_image img {
		max-width: 90px;
	}
	.brand_content {
	    padding: 0;
	    border: none;
	}
	.brand_info .brand_slogan {
	    margin-bottom: 5px;
	}

}

@media(max-width: 850px) {
	.product_list .col-2_5 {
	    width: 33.33333%!important;
	}
	h2 {
	font-size: 25px;
	}
	h3 {
		font-size: 22px;
	}
	h4 {
		font-size: 19px;
	}
	.brand_contact ul li {
	    font-size: 12px;
	}

}

@media(max-width: 768px) {
	.box {
		padding: 10px;
	}
	.brand_content {
	    justify-content: center;
	    text-align: center
	}
	.brand_contact {
	    display: flex;
	    justify-content: center;
	    padding-top: 10px;
	    border-top: 1px solid var(--offwhite-color);
	}
	.brand_contact ul {
	    justify-content: flex-start;
	}
	
}

@media(max-width: 690px) {
	.product_list .col-2_5 {
	    width: 50%!important;
	}
	.product_list .single_product {
	    margin: 15px 0;
	}
}

@media(max-width: 576px) {
	.brand_image {
		border: none;
		margin-bottom: 10px;
		text-align: center;
	}
	.brand_info .brand_slogan {
	    margin-bottom: 10px;
	}

}

@media(max-width: 480px) {
	.box {
		margin: 10px 0;
	}
	.product_list .col-2_5 {
	    width: 100%!important;
	}
	.single_product .product_image img {
	    height: 205px;
	}
	.brand_info {
		margin: 10px 0;
	}
	.margin_top_30 {
		margin-top: 10px;
	}
	.margin_bottom_30 {
		margin-bottom: 10px;
	}
	.padding_top_30 {
		padding-top: 10px;
	}
	.padding_bottom_30 {
		padding-bottom: 10px;
	}

}

@media(max-width: 321px) {
	
}
