/*====================================
			Brand_Details
======================================*/
		
	/*============== global ===============*/
:root {
	--primary-color: #df0017;
	--secondary-color: #596669;
	--light-color: #fff;
	--offwhite-color: #efefef;
	--text-color: #333;
}

body{
	font-size: 14px;
	background: #f9f9f9;
	color: var(--text-color)!important;
	font-family: 'open-sans', sans-serif!important;
	font-weight: 400;
}
.container {
	max-width: 1140px!important;
	width: 100%!important;
}
.wrapper {
	max-width: 1140px;
	width: 100%;
	margin: auto;
	padding: 50px 0;
}
h1, h2, h3, h4, h5, h6 {
	color: #191211;
	font-weight: 600;
	text-transform: capitalize;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 25px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
.card {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.17);
	padding: 8px;
}
.box {
	margin: 20px 0;
	padding: 30px;
	background: var(--light-color);
	box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.26);
}
a {
	text-decoration: none;
	color: var(--text-color);
}
a:hover {
	color: var(--text-color);
}
ul {
	padding: 0!important;
	margin: 0!important;
}
li {
	list-style-type: none;
}
input {
	padding: 5px 8px!important;
	border: 1px solid rgba(223, 0, 23, 0.4)!important;
	font-size: 14px!important;
}
input:focus {
	box-shadow: none!important;
	background: var(--offwhite-color)!important;
}
textarea {
	padding: 5px 8px!important;
	border: 1px solid var(--primary-color)!important;
	font-size: 14px!important;
}
textarea:focus {
	box-shadow: none!important;
	background: var(--offwhite-color)!important;
}
@media (min-width: 992px) {
	.col-2_5 {
		flex: 0 0 auto;
	    width: 20%;
	    max-width: 100%;
	    padding-right: calc(var(--bs-gutter-x) * .5);
	    padding-left: calc(var(--bs-gutter-x) * .5);
	}
}
.button {
    padding: 7px 30px;
    background: var(--primary-color);
    color: var(--light-color);
    border: 1px solid transparent;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
}
.button:hover {
    color: var(--primary-color);
    background: transparent;
    border: 1px solid var(--primary-color);
}
.section_heading {
	margin-top: 45px;
}
.margin_top_30 {
	margin-top: 30px;
}
.margin_bottom_30 {
	margin-bottom: 30px;
}
.margin_top_20 {
	margin-top: 20px;
}
.margin_bottom_20 {
	margin-bottom: 20px;
}
.padding_top_30 {
	padding-top: 30px;
}
.padding_bottom_30 {
	padding-bottom: 30px;
}
.padding_top_20 {
	padding-top: 20px;
}
.padding_bottom_20 {
	padding-bottom: 20px;
}

/*====================================
			Brand_Heading
======================================*/

.brand_details_heading .card {
	padding: 10px;
	border-radius: 10px;
}
.brand_image img {
	max-width: 120px;
}
.brand_content {
	display: flex;
	align-items: center;
	border-left: 1px solid var(--offwhite-color);
	border-right: 1px solid var(--offwhite-color);
	padding: 0 15px;
}
.brand_info .brand_title {
	font-weight: 700;
	margin-bottom: 5px;
}
.brand_info .brand_slogan {
	margin-bottom: 15px;
	display: inline-block;
	font-weight: 500;
	color: var(--secondary-color);
}
.brand_info p {
	margin-bottom: 0;
}
.brand_contact ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.brand_contact ul li {
	margin: 3px;
}
.brand_contact a {
	margin-left: 5px;
	margin: 3px 20px 0 3px;
	text-align: center;
}
.brand_contact a.chat_now {
	color: var(--primary-color);
}
.brand_contact ul li span {
	margin-left: 5px;
}
.brand_contact a i {
	display: inline-block;
}
.brand_contact a p {
	margin-bottom: 0;
}

/*====================================
			Brand_Breadcrumb Area
======================================*/

.breadcrumb ol li a {
	color: var(--secondary-color);
}
.breadcrumb ol li.active {
	color: var(--primary-color);	
}
nav.breadcrumb {
	padding-left: 10px;
}

/*====================================
			Brand Product Categories
======================================*/

.category_box {
	display: block;
	margin: 0 6px;
	border-radius: 10px;
	background: var(--light-color);
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
}
.category_box .image {
	height: 125px;
	display: block;
	text-align: center;
	margin-bottom: 10px;
	padding: 7px;
}
.category_box .image img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}
.category_box span {
	font-size: 16px;
	display: block;
	text-align: center;
	color: var(--light-color);
	background: var(--primary-color);
	padding: 5px 0;
	border-radius: 0 0 10px 10px;
}
/* .slick-arrow {
	top: 100%;
	transform: translate(0, 100%);
	background: var(--primary-color);
}
.slick-prev {
	left: 50%;
}
.slick-next {
	right: 50%;
} */


/*====================================
			Product List
======================================*/

#nav-tab .nav-link {
	color: var(--text-color);
}
#nav-tab .nav-link.active {
	box-shadow: inset 0 4px 0 0 var(--primary-color);
	color: var(--primary-color);
}
.product_list .single_product {
	padding: 10px 10px 0 10px;
	margin: 20px 0;
	background: var(--light-color);
	box-shadow: 2px 3px 5px 1px rgb(0,0,0,0.26);
}
.single_product .product_image {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.single_product .product_image img {
	width: 100%;
	height: 220px;
	object-fit: cover;
}
.product_intro {
	margin-bottom: 8px;
}
.product_intro .product_heading {
	font-size: 16px;
	margin-bottom: 5px;
}
.product_intro .product_stock {
	margin-bottom: 0;
	color: var(--primary-color);
	line-height: 1.4;
}
.product_intro .current_price {
	font-size: 22px;
	font-weight: 700;
	color: var(--text-color);
	margin-bottom: 0;	
}
.product_intro .current_price span {
	font-size: 15px;
	margin-right: 5px;
}
.product_intro .regular_price {
	text-decoration: line-through;
}
.ratings i {
	font-size: 10px;
	letter-spacing: -3px;
	color: #F26F20;
}
.ratings .rating_count {
	font-size: 12px;
}
.reviews::before {
	content: '|';
	padding-right: 5px;
}
.search_bar {
	display: flex;
	align-items: center;
}
a.buy_now {
	font-size: 13px;
	color: var(--secondary-color);
	display: flex;
	width: 	100%;
	align-items: center;	
	justify-content: center;
	padding: 8px 0;
	border-radius: 12px 12px 0 0;
	border-top: 1px solid #ddd;
	transition: 0.3s ease all;
	-webkit-transition: 0.3s ease all;
}
a.buy_now .shopping_cart {
	color: var(--primary-color);
}
a.buy_now span {
	text-transform: uppercase;
	font-weight: 600;
	margin-left: 10px;
}
.single_product:hover a.buy_now {
	background: var(--primary-color);
	color: var(--light-color);
} 
.single_product:hover a.buy_now .shopping_cart {
	color: var(--light-color);
} 
.search_bar .search_icon {
	cursor: pointer;
	background: var(--primary-color);
}
.search_icon i {
	color: var(--light-color);
	padding: 10px 8px;
}
.product_sort button, .product_sort a {
	padding: 3px 10px!important;
	color: var(--text-color);
	background: var(--offwhite-color);
	font-size: 14px;
}
.product_sort button:hover, .product_sort a:hover {
	color: var(--primary-color);
}
.product_sort button.active {
	background: var(--primary-color);
	color: var(--light-color);
	font-weight: 600;
}

/*====================================
			Brand Profile
======================================*/

#brand_profile .brand_banner img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
}
.product_slider {
	width: 100%;
}
.product_slider .slide_item {
	width: 25%;
	text-align: center;
}
.product_slider .slide_item img {
	height: 180px;
	width: auto;
}

.owl-nav span {
	font-size: 20px;
	padding: 3px 8px;
    background: var(--offwhite-color);
    margin: 0 10px;
    color: var(--primary-color);
    transition: 0.3s all ease;
    webkit-transition: 0.3s all ease;
}
.owl-nav span:hover {
    box-shadow: 0 3px 5px 1px rgba(0,0,0,0.21);
}
.owl-nav {
    text-align: center;
    margin-top: 10px;
}

	/*========== map =======*/


.map iframe {
	width: 100%;
	height: 300px;
}
#form input, #form textarea {
	margin-bottom: 15px;
}